<app-topo></app-topo>
<div *ngIf="exibePainel; else fimDeJogo">
    <app-painel (eventoEncerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<ng-template #fimDeJogo>
    <div *ngIf="tipoEncerramento === 'derrota'; else vitoria" class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                    <p>Você perdeu</p>
                    <button class="btn btn-primary" (click)="reiniciar()">Jogar Novamente</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #vitoria>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                    <p>Você Venceu!!!</p>
                    <button class="btn btn-primary" (click)="reiniciar()">Jogar Novamente</button>
            </div>
        </div>
    </div>
</ng-template>